.container  {
    height: 70vh;
    padding: var(--space-xs);
    margin-top: var(--stack-space, 1em);
}

.heading {
    font-size: var(--heading2);
}

.text {
    font-size: var(--body);
    margin-top: var(--stack-space, 1em);
}